<main>
	<div class="container m-2">
		<div class="row">
			<div class="col-12 d-flex flex-wrap justify-content-evenly">
                {{#each products}}
                    <div class="card m-2" style="width: 13rem;">
                        <img src="{{this.url_photo}}" class="card-img-top p-3" alt="{{this.title}}">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title text-center">{{this.title}}</h5>
                            <p class="card-text text-center">U$D{{this.price}}</p>
                            <a href="/products/{{this.pid}}" class="btn btn-primary">+info</a>
                        </div>
                    </div>
                {{/each}}
            </div>
		</div>
	</div>
</main>